*{
    margin: 0%;
}

.img {
    width: 20%;
    height: 20%;
}

#wrapper1{
    display: grid;
    grid-template-areas: 
    'he he he' 
    's1 s1 s1'
    's2 s2 s2'
    'fo fo fo';
    grid-template-columns: 10% 15% 75%;
    grid-template-rows: 8% 37% 50% 5%;
    height: 130vh;
    width: 92.4vw;
    grid-gap: 20px;
    background-color: orange;
}

.section1 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 100%;
    grid-area: s1;
    grid-gap: 20px;
}

.section1 img {
    height: 294px;
    width: 420px;
    align-self: center;
    justify-self: center;
}

.section1 article {
    background-color: darkorange;
}


.section2 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 65% 35%;
    grid-area: s2;
}

.section2 img {
    align-self: center;
    justify-self: center;
    height: 225px;
    width: 225px;
}

.section2 article {
    align-self: center;
    justify-self: center;
    height: 110px;
    width: 225px;
    background-color: darkorange;
}

.header{
    grid-area: he;
    display: grid;
    grid-template-columns: 10% 25% 65%;
    grid-template-rows: 100%;
}

.header img{
    height: 80px;
    width: 80px;
    justify-self: center;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.footer{
    grid-area: fo;
    display: flex;
    align-self: center;
    justify-content: space-around;
}


#wrapper2 {
    display: grid;
    grid-template-columns: 10% 15% 75%;
    grid-template-rows: 10% 40% 45% 5%;
    grid-template-areas: 
    'he he he'
    'sp sp sp'
    'sb sb sb'
    'fo fo fo'
    ;
    height: 130vh;
    width: 97vw;
    background-color: orange;
}

.sectionpicture {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
    grid-area: sp;
    grid-gap: 15px;
}

.sectionpicture img{
    justify-self: center;
    align-self: center;
    height: 315px;
    width: 370px;
}

.sectionpicture article{
    background-color: darkorange;
}

.sectionbookings {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-area: sb;
}

.sectionbookings article {
    background-color: darkorange;
    padding: 47px;
}

.sectionbookings img {
    align-self: center;
    justify-self: center;
}


.article6{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 10% 15% 75%;
    grid-template-rows: 10% 85% 5%;
    height: 100vh;
    grid-template-areas: 
    'he he he'
    's3 s3 s3'
    'fo fo fo'
    ;
    width: 98vw;
    background-color: orange;
}

.section3 {
    grid-area: s3;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.section3 img {
    align-self: center;
    justify-self: center;
    background-color: burlywood;
    width: 640px;
    height: 450px;
}
